@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style:none;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: sans-serif;
  background: url("8 sin título_20241002111823.jpg");
  height: 100%;
  width: 100%;
  min-height: 100vh;
}
header{
  width: 100%;
  height: 80px;
  background-color: #090f1d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo{
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.barra{
  display: none;
}

.nav-barra ul{
  display: flex;
}

.nav-barra ul li a {
  display: block;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 15px;
  transition: 0.2s;
  margin: 0 5px;
  
}

.nav-barra ul li a:hover {
  color: #000;
  background-color: orange;
  
}

.nav-barra ul li a.active {
  color: #090f1e;
  background-color: orange;
  
}

@media(max-width: 900px){
  
  header{
    padding: 0px 30p;
  }
  .barra{
    display: block;
    cursor: pointer;
  }
  .barra .line{
    width: 30px;
    height: 3px;
    background-color: #f1efef;
    margin: 6px 0px;
  }
  .nav-barra{
    height: 0px;
    position: absolute;
    top:80px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #2e2f34;
    transition: 0.5s;
    overflow: hidden;
  }
  .nav-barra.active{
    height: 450px;
  }
  .nav-barra ul{
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-barra.active ul{
    opacity: 1;
  }
  .nav-barra ul li a{
    margin-bottom: 20px
  }
}


/*---------- header fin------*/
h3{
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
  
}
a{
  text-decoration: none;
}
.gallery{
  position: sticky;
  display: grid;
  grid-template-columns: 
  repeat(auto-fit, minmax(min(350px, 100%) 1fr));
  flex-wrap: wrap;
  width: 100;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.content{
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  transition: .4s;
  background: #FFF;
}
.content:hover{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}
img{
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
p{
  text-align: center;
  color: #000;
  padding-top: 0 8px;
}
button{
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.mas-info, .mas-info_2, .mas-info_3{
  background: #FF8700;
}

@media(max-width:1000px){
  .content{
    width: 45%;
  }
}
@media(max-width:750px){
  .content{
    width: 100%;
  }
}

/*--------------Pie dd página-------------*/

.pie-pagina .grupo-1{
   width: 100%;
   max-width: 1200%;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 50px;
   padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #000;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background: #161616;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #ffa815;
}
.pie-pagina .grupo-2{
    background-color: #090f1d;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-wwidth:800px){
    .pie-pagina .grupo-1{
       width: 100%;
       grid-template-columns: repeat(1, 1fr);
       grid-gap: 30px;
       padding: 35px 0px;
     }
}




